html, body, ul, li, h1, h2, h3, h4, h5, h6, p, fieldset, legend {
	padding:0;
	margin:0;
}
ul, li {
	list-style-type:none;
}
.clear {
	clear:both;
}
/*menu*/
#menu {
	background-image: url(../images/daohang.jpg);
	background-repeat: no-repeat;
	height: 40px;
	width: 971px;
	background-position: 0px 0px;
	font-family: "ו";
	font-size: 14px;
	font-weight: bold;
}
#menu .mainlevel {
	z-index:10;
	position:relative;
	border-top:1px solid #fff;
	float:left;
	border-right:1px solid #fff;
	width:140px;/*IE6 only*/
}
#menu .mainlevel a {
	color:#000;
	text-decoration:none;
	line-height:38px;
	height:38px;
	display:block;
	width:140px;
	text-align:center;
}
#menu .mainlevel a:hover {
	color:#fff;
	text-decoration:none;
	background-color: #89cc0d;
	border-bottom:1px solid #fff;
}
#menu .mainlevel ul {
	z-index:10;
	border-top:1px solid #fff;
	background-image: url(../images/daohang.jpg);
	display:none;
	position:absolute;
	top:38px;
	left:0px;
	
	
}
